{% extends "base.html" %}

{% block title %}大会運営ツール{% endblock title %}

{% block content %}
<div class="row">
		<div class="col-lg-10 offset-lg-1">				
				<!-- Alert -->
				{% if comp_selected %}
				<div class="alert alert-info" role="alert">
						<strong>Info</strong> 運営中の競技会として「{{ comp_selected.name }}」が選択されています。
				</div>
				{% else %}
				<div class="alert alert-warning" role="alert">
						<strong>Warning!</strong> 運営する競技会が選択されていません。競技会を選択してください。
				</div>
				{% endif %}
				<!-- Main -->
				<div class="row">
						<div class="col-sm-6">
								<div class="card">
										<div class="card-block">
												<h4 class="card-title">Cardinal Systemへようこそ</h4>
												<p class="card-text">まずこのページで大会を選択してください.</p>
										</div>
								</div>
						</div>
						<div class="col-sm-6">
								<div class="card">
										<div class="card-block">
												<h4 class="card-title">ページ</h4>
												<a href="{% url 'login' %}" class="card-link">ログイン</a>
												<a href="{% url 'organizer:organizer_top' %}" class="card-link">運営者ページ</a>
												<a href="{% url 'organizer:guest_top' %}" class="card-link">ゲストページ</a>
										</div>
								</div>
						</div>
				</div>
		</div>
		<div class="col-lg-10 offset-lg-1 mt-3">
				<div class="card">
						<div class="card-header">
								<h4 class="card-title">運営する大会の選択</h4>
								<h6 class="card-subtitle mb-2 text-muted">運営する大会を以下より選択してください。</h6>
						</div>
						<div class="card-block">
								<table class="table table-striped table-sm">
										<thead>
												<tr>
														<th>期日</th>
														<th>大会名</th>
														<th>会場</th>
														<th>主管/主催</th>
														<th>Stauts</th>
														<th>Options</th>
												</tr>
										</thead>
										<tbody>
												{% for comp in comps %}
												<tr>
														<td>{{ comp.date }}</td>
														<td style="white-space:nowrap;">
																<h5>{{ comp.name }}</h5>
																<p class="text-muted">[大会コード: {{ comp.code }}]</p>
														</td>
														<td>{{ comp.place }}</td>
														<td>
																<h6><small class="text-muted">主管:</small><br>{{ comp.sponsor }}</h6>
																<h6><small class="text-muted">主催:</small><br>{{ comp.organizer }}</h6>
														</td>
														<td>{{ comp.status }}</td>
														<td>
																{% if request.session.comp_code  == comp.code %}
																<a href="{% url 'organizer:select_comp'  comp_code=comp.code %}" class="btn btn-primary btn-sm disabled mx-1 my-1">この大会を選択</a>
																{% else %}
																<a href="{% url 'organizer:select_comp'  comp_code=comp.code %}" class="btn btn-primary btn-sm mx-1 my-1">この大会を選択</a>
																{% endif %}

																{% if request.session.comp_code  == comp.code %}
																<a href="{% url 'competitions:event_status_list'  comp_code=comp.code %}" class="btn btn-secondary btn-sm mx-1 my-1">競技種目一覧</a>
																{% endif %}

														</td>
												</tr>
												{% endfor %}
										</tbody>
								</table>
						</div>
						<div class="card-footer text-muted">
						</div>
				</div>	

		</div>
</div>
{% endblock content %}
