{% extends "base.html" %}

{% block title %}SL|大会運営ツール{% endblock title %}

{% block content %}
<div class="row">
		<div class="col-lg-10 offset-lg-1">				
				<h3 class="page-header">Start List</h3>
				<!-- Alert -->
				{% if comp %}
				<div class="alert alert-info" role="alert">
						<strong>Info</strong> 運営中の競技会として「{{ comp.name }}」が選択されています。
				</div>
				{% else %}
				<div class="alert alert-warning" role="alert">
						<strong>Warning!</strong> 運営する競技会が選択されていません。競技会を選択してください。
				</div>
				{% endif %}
				<!-- Main -->
				<div class="row">
						<div class="col-12">
								<!-- エントリーの一覧 -->
								<form action="{% url 'organizer:sl_edit' event_status_id=event_status.id %}" method="post" role="form">						
										{% csrf_token %}
										{{ formset.management_form }}
										<div class="card my-3">
												<div class="card-block">
														<h4 class="card-title">番組編成　編集</h4>
														<h6 class="card-subtitle mb-2 text-muted">
																<small class="text-muted">[{{ event_status.section }}]</small>
																{{ event_status.event.sex }} {{ event_status.event.name }}
														</h6>
														<table class="table table-striped table-sm">
																<thead>
																		<tr>
																				<th style="width: 5em;">組</th>
																				<th style="width: 5em;">レーン/試技順</th>
																				<th>No.</th>
																				<th>氏名</th>
																				<th>フリガナ</th>
																				<th>所属</th>
																				<th>参考記録</th>
																				<th>Status</th>
																		</tr>
																</thead>
																<tbody>
																		{% for form in formset %}
																		{{ form.id }}
																		{{ form.bib }}
																		{{ form.name }}
																		{{ form.kana }}
																		{{ form.grade }}
																		{{ form.club }}
																		{{ form.pb }}
																		{{ form.status }}
																		<tr>
																				<td>{{ form.group }}</td>
																				<td>{{ form.order_lane }}</td>
																				<td>{{ form.bib.value }}</td>
																				<td>{{ form.name.value }} ({{ form.grade.value}})</td>
																				<td><small>{{ form.kana.value }}</small></td>
																				<td>{{ form.club.value }}</td>
																				<td>{{ form.pb.value }}</td>
																				<td>{{ form.status.value }}</td>
																		</tr>
																		{% endfor %}
																</tbody>
														</table>
												</div>
												<div class="card-footer text-muted">
														<button type="submit" class="btn btn-primary">確定</button>
														<a href="{% url 'organizer:sl_top' event_status_id=event_status.id %}" class="btn btn-secondary">戻る</a>
												</div>
										</div>
								</form>
						</div>
				</div>
		</div>
</div>
{% endblock content %}
